# =========================
# .env.demo.example (DEMO)
# =========================
COMPOSE_PROJECT_NAME=tfm_demo

# Host UID/GID (Linux). En Windows se ignora.
UID=1000
GID=1000

# Data Lake DEMO (portable, relativo al repo)
DATA_LAKE_HOST=./data/ChileCompraDL
DATA_LAKE_ROOT=/data_lake

# ETL runtime (host port)
ETL_PORT=9000
ETL_LOG_LEVEL=INFO

# ETL -> Postgres (intra-docker)
CHILE_PG_HOST=chile-pg
CHILE_PG_PORT=5432
CHILE_PG_USER=chile_user
CHILE_PG_PASSWORD=demo_postgres_2026
CHILE_PG_DB=chilecompra

# Postgres (host port opcional)
POSTGRES_USER=chile_user
POSTGRES_PASSWORD=demo_postgres_2026
POSTGRES_DB=chilecompra
POSTGRES_PORT=5541

# n8n demo
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=Admin1234!
N8N_ENCRYPTION_KEY=18f2ba7387d1cb476666c2ddd87b7d635a3c4489d7d68d856375cb1b6074567a
N8N_HOST=localhost
N8N_PORT=5678
WEBHOOK_URL=http://localhost:5678
N8N_EDITOR_BASE_URL=http://localhost:5678
GENERIC_TIMEZONE=America/Santiago

# n8n internal db
N8N_DB_USER=n8n
N8N_DB_PASSWORD=n8nPg_2024!
N8N_DB_DATABASE=n8n

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=n8n-db
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_PASSWORD=n8nPg_2024!

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=demo_pgadmin_2026
PGADMIN_PORT=8082